<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    .card-title {
  text-decoration: none !important;
}
    </style>

    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">





    {% if title  %}
      <title>PetFolio {{title}}</title>
    {% else %}
      <title>PetFolio</title>
    {%endif%}


  </head>
  <body>


    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="https://cdn-icons-png.flaticon.com/512/5783/5783311.png" width="70" height="70">
      <a href="/blog" class="nav-link px-0 link-primary"><h1>Petfolio</h1></a>
    </a>


     <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
       <li><a href="/blog" class="nav-link px-2 link-primary"><h4>Blog</h4></a></li>
       <li><a href="/health" class="nav-link px-2 link-dark"><h4>Health</h4></a></li>
       <li><a href="/shop" class="nav-link px-2 link-dark"><h4>Shop</h4></a></li>
       <li><a href="/doctor" class="nav-link px-2 link-dark"><h4>Doctor</h4></a></li>
       <li><a href="/about" class="nav-link px-2 link-dark"><h4>About</h4></a></li>
     </ul>

  <!--   <div class="col-md-3 text-end">
       <button type="button" class="btn btn-outline-primary me-2">Login</button>
       <button type="button" class="btn btn-primary">Sign-up</button>
     </div>
     -->
   </header>
 </div>




  <div class="content">
      {%block content%}
      {%endblock%}
    </div>






    <div class="b-example-divider"></div>

<div class="container">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
<div class="col-md-4 d-flex align-items-center">

  <span class="mb-3 mb-md-0 text-muted">&copy; 2023 : Petfolio</span>
</div>

<ul class="nav col-md-4 justify-content-end list-unstyled d-flex"><pre>
</pre>
<a class="btn btn-outline-light btn-floating m-1" href="/" role="button"
  ><img src="https://cdn-icons-png.flaticon.com/512/5783/5783311.png" height="50" width="50" alt=""></a>

</ul>
</footer>
</div>



    <!-- Optional JavaScript -->
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </body>
</html>
