{% extends "blog/base.html" %}



{% block content%}

<div class="container-fluid gedf-wrapper">
       <div class="row">
           <div class="col-md-3">
               <div class="card flash " style="border-radius: 8px 8px 0px 0px">
                   <div class="card-body">

                       <div class="h5">{{user.username}}</div>
                       <div class="h7 text">{% if user.is_authenticated %}Pet :     {{peto_type}}  {% else %} <p>Please log in to view the Blogs</p>
{% endif %} </div>

                   </div>
                   <ul class="list-group list-group-flush">
                       <li class="list-group-item">
                           <div class="h6 text-muted">{% if user.is_authenticated %}Bio:{% endif %}</div>
                           <div class="h6 text">{% if user.is_authenticated %}  {{peto_bio}}    {% endif %}</div>
                           <br><br>
                           <div class="h6 text-muted">{% if user.is_authenticated %}Email:{% endif %}</div>
                           <div class="h6 text">{{user.email}}</div>
                       </li>


                   </ul>
               </div>
           </div>


<div class="col-md-6 gedf-main">
 {% for post in posts %}

 <div class="container-fluid ">
  <div class="card gedf-card " style="border-radius: 8px 8px 8px 8px">
                <div class="card-header">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex justify-content-between align-items-center">
                            <!--  <div class="mr-2">
                                  <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                              </div>
                              -->
                              <div class="ml-2">
                                  <div class="h5 m-0">{{post.author}}</div>
                                  <div class="h7 text-muted">{{post.pet_type}}</div>
                              </div>
                          </div>
                          <div>
                              <div class="dropdown">
                                  <button class="btn btn-link " type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                  </button>

                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="card-body">
                      <div class="text-muted h7 mb-2"> <i class="bi bi-clock"></i> {{post.date_posted}} </div>
                      <a class="card-link" href="">
                          <h5 class="card-title">{{post.title}}</h5>
                      </a>

                      <p class="card-text">
                        {{post.content}}
                      </p>
                        
                  </div>

              </div>
        </div>
<br>
<br>


 {% endfor %}


</div>

<div class="col-md-3">
  <div class="card flash " style="border-radius: 8px 8px 8px 8px">
    <div class="container ">
      <div class="row">

          <pre></pre>
      <h4>Create Post</h4>
        {% csrf_token %}
      <form  method="POST"  id="post-form">

          <div class="form-group">
              <label >Title<span class="require"> *</span></label>
              <input type="text" class="form-control" name="title" style="border-radius: 8px 8px 8px 8px" required/>
          </div>

          <div class="form-group">
              <label >Pet type<span class="require"> *</span></label>
              <input type="text" class="form-control" name="pet_type" style="border-radius: 8px 8px 8px 8px" required/>

          </div>

          <div class="form-group">
              <label>Description<span class="require"> *</span></label>
              <textarea rows="5" class="form-control" name="description" style="border-radius: 8px 8px 8px 8px" required></textarea>

          <div class="form-group">

          </div>
              {% csrf_token %}
             {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% elif message.tags == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% else %}
              <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}


              <div class="form-group d-flex">
          <button type="submit" class="btn btn-primary" style="margin-right: 50px; margin-left: 50px; " name="POST">
            Create
          </button>
          <button class="btn btn-outline-light" type="button" onclick="clearForm()" style="margin-left: 10px;">
            Clear
          </button>
        </div>

          </div>

      </form>


</div>
</div>
</div>
</div>

           <script>
function clearForm() {
    document.getElementById("post-form").reset();
}
</script>
{% endblock content%}
