{% extends "about/base.html" %}
    {% block content%}


    <div class="b-example-divider"></div>

      <div class="px-4 pt-5  text-center border-bottom">
        <h1 class="display-4 fw-bold">About</h1>
        <pre>
        </pre>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Sure, here's an example of content you could use for the "About" page of a website that offers pet health tracking, veterinary booking, pet supplies, and pet blogging:

Welcome to our pet care platform! We're passionate about providing pet owners with the tools and resources they need to keep their furry friends healthy, happy, and thriving.

Our platform offers a variety of features to help you care for your pet. With our health tracking tools, you can keep track of your pet's vaccinations, medication schedule, and other health information all in one place. Our system will even send you reminders when it's time for your pet's next appointment or medication.

We also offer a convenient booking system to help you find and book veterinary appointments in your area. Our platform allows you to search for vets by location, specialty, and availability, so you can find the right vet for your pet's needs.
  <form >
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" onclick="location.href='mailto:helloneerajkumarsingh@gmail.com';">Contact Devlopers!</button>
            <pre>
            </pre>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href='https://github.com/itsawaz/PetFolio';">Source Code?</button>
          </div>
        <div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
          </div>
        </div>
      </div>
    </form>

    {% endblock content%}
